* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: black;
}
/* Navigation Bar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: end;
  position: sticky;
  top: 0;
}
.navbar::before {
  content: "";
  background-color: gray;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.3;
  top: 0px;
  left: 0px;
}
.navbar ul {
  display: flex;
  align-items: center;
  font-family: cursive;
}
.navbar ul li {
  list-style: none;
  font-size: 1.2rem;
}
.navbar ul li a {
  color: white;
  display: block;
  padding: 3px 10px;
  margin: 5px;
  border-radius: 20px;
  text-decoration: none;
}
.navbar ul li a:hover {
  color: rgb(117, 198, 221);
  cursor: pointer;
  border-bottom: 2px solid white;
  margin-bottom: 0;
  text-shadow: 2px 2px 20px aqua;
}
/* Info_Container */
.infoContainer {
  margin-top: 0;
  background-color: rgb(0, 0, 0);
  height: 100vh;
  width: 99vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: white;
}
.devInfo {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.info {
  display: flex;
  flex-direction: column;
}

.info #about a {
  text-decoration: none;
  color: aqua;
}
.info #resume a {
  text-decoration: none;
  color: aqua;
}
.info #resume {
  width: 8vw;
}
.btn {
  display: flex;
  gap: 2rem;
}
.info button {
  background: none;
  border: none;
  margin-top: 38px;
  width: 5vw;
}
.info button:hover {
  cursor: pointer;
  border-bottom: 2px solid aqua;
  border-radius: 9px;
  margin-top: 36px;
  text-shadow: 2px 2px 20px aqua;
}
.greet,
.profession {
  font-size: 1.5rem;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.name {
  font-size: 5rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
.devPic img {
  height: 267px;
  margin-top: 0;
  align-items: left;
}
/* My_Intro */
.myIntro {
  height: 55vh;
  width: 99vw;
  background-color: rgb(0, 0, 0);
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}
.myIntro img {
  width: 40vw;
  height: 55vh;
  object-fit: cover;
}
.aboutMe h2 {
  margin: 30px 0 30px 20px;
  color: rgb(161, 36, 206);
  text-shadow: 3px 3px 20px #6de5eb9a;
  border-bottom: 2px solid white;
  width: 14vw;
  padding-bottom: 0.6rem;
  font-size: 3rem;
}
.aboutMe p {
  color: #f4f4f4;
  margin: 30px;
  text-align: justify;
}
.social {
  display: flex;
  justify-content: space-evenly;
}
.social img {
  width: 50px;
  height: 50px;
  object-fit: fill;
}
.social img:hover {
  cursor: pointer;
  scale: 1.1;
  background-size: cover;
  border: none;
}
.social img[id="linkedIn"]:hover {
  filter: drop-shadow(2px 2px 10px #0077b5);
}
.social img[id="github"]:hover {
  filter: drop-shadow(2px 2px 10px rgb(146, 146, 146));
}
.social img[id="netlify"]:hover {
  filter: drop-shadow(2px 2px 10px #2596be);
}
.social img[id="instagram"]:hover {
  filter: drop-shadow(2px 2px 10px lightpink);
}
/* My_Project */
.myProjects {
  height: 95vh;
  width: 99vw;
  background-color: rgb(0, 0, 0);
  color: white;
  margin-top: 20px;
  overflow: hidden;
}
.projects > h2 {
  margin: 30px 0 30px 20px;
  width: 17vw;
  color: rgb(161, 36, 206);
  text-shadow: 3px 3px 20px #6de5eb9a;
  border-bottom: 2px solid white;
  padding-bottom: 0.6rem;
  font-size: 3rem;
}
.projects img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin: 28px;
}
.project-box {
  display: flex;
  flex-direction: column;
}
.project-box div {
  display: flex;
}
.project-box div > h2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.project-box div > p {
  width: 100%;
  display: flex;
  align-items: center;
  text-align: justify;
  margin: 0 100px;
}
.project-box button {
  background: none;
  color: white;
  width: 20vw;
  cursor: pointer;
  margin: 56px;
  border: none;
}
.project-box button:hover {
  color: #3bf2ff;
  text-decoration: underline;
}
.project-box #calc {
  border-radius: 0;
}
/* Contact_me */
.contactMe {
  height: 65vh;
  width: 99vw;
  background-color: rgb(0, 0, 0);
  color: white;
  margin-top: 20px;
  display: flex;
}
.contactMe img {
  height: 50vh;
  width: 40vw;
  object-fit: contain;
  margin: 30px;
}
.contactMe div {
  width: 50vw;
}
form {
  display: flex;
  flex-direction: column;
  padding-inline: 2em;
  padding-bottom: 0.4em;
  gap: 10px;
  align-items: center;
}
form h2 {
  margin: 30px 0 30px 20px;
  width: 18vw;
  color: rgb(161, 36, 206);
  text-shadow: 3px 3px 20px #6de5eb9a;
  border-bottom: 2px solid white;
  padding-bottom: 0.6rem;
  font-size: 3rem;
}
form input,
textarea {
  width: 40vw;
  background: none;
  color: white;
  font-size: 1.5rem;
  padding: 10px 0 10px 25px;
  border-radius: 15px;
  border: none;
  box-shadow: inset 2px 5px 10px rgb(44, 41, 41);
}
form button {
  background: none;
  color: white;
  width: 12vw;
  cursor: pointer;
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  font-size: 1.1rem;
}
form button:hover {
  scale: 1.1;
  box-shadow: inset 2px 2px 5px rgba(0, 255, 255, 0.801), 2px 2px 5px rgba(0, 255, 255, 0.801);
}
